/*FONTS ....................................................*/
/*catamaran*/
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 400;
  src: local('Catamaran'), local('Catamaran-Regular'), url(https://fonts.gstatic.com/s/catamaran/v2/iVYgK2bOLvZcSxr0ITOecltXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 600;
  src: local('Catamaran SemiBold'), local('Catamaran-SemiBold'), url(https://fonts.gstatic.com/s/catamaran/v2/a9PlHHnuBWiGGk0TwuFKTugdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 800;
  src: local('Catamaran ExtraBold'), local('Catamaran-ExtraBold'), url(https://fonts.gstatic.com/s/catamaran/v2/6VjB_uSfn3DZ93IQv58CmOgdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/*hind*/
@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 400;
  src: local('Hind Regular'), local('Hind-Regular'), url(https://fonts.gstatic.com/s/hind/v7/xLdg5JI0N_C2fvyu9XVzXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 600;
  src: local('Hind SemiBold'), local('Hind-SemiBold'), url(https://fonts.gstatic.com/s/hind/v7/A2xpLU2z2kq5byuh5bkohg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/*Universal Styles..........................................*/ 



html {
	font-family: 'Catamaran', helvetica, sans-serif;
	font-size: 16px;
	color: #555;
}

body {
	background: #f1f2f3;
}

a {
	color:#016ABA;
	text-decoration: none;
	transition: all 200ms;
}

h1{
	color: #6d6073;
	font-family: 'Catamaran';
	font-size: 2.50rem;
	font-weight: 800;
	margin: 0;
}
h2{
	font-size: 1.2rem;
}

ul {
	display: flex;
	justify-content: flex-end;
	list-style-type: none;
}
li{
	margin-left: 16px;
}
nav ul li{
	color: #888;
	margin-left: 30px;    
    font-size: 1rem;
}
p {
	font-family: 'Hind-Regular', helvetica, sans-serif.
}

/* Common Clases..........................................*/

.container{
	display: flex;
	padding: 32px 24px;
}
.side-container{
	display: flex;
	max-width: 60%;
	min-width: 60%;
	flex-direction: column;
}
.column{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 40px;
	padding: 0;
}
.gray {
	background-color: #ddd;
}
.quote{
	color: #777;
	font-size: 0.9rem;
}

/*Header.................................................*/

header{
	background-color: white;
	height: 64px;
	width: 100%;
}
header .desktop {
	color:#585858;
	display: flex;
	justify-content: flex-end;
	width: 100%;
	font-size: 1.2rem;
}
header .container{
	align-items: center;
	padding: 0 24px;
}

.company{
	color: #8A8A8A;
	display: flex;
	font-size: 1.50rem;
}
.company img{
	height: 50px;
}
.company span{
	margin: auto;
}
.company strong{
	color: #4b5256;
}


/*First Banner..........................................*/

.big-img img{
	width: 100%;
}

.text {
	margin-right: 7%;
}
.text p{
	color: #444;
	font-size: 1.4rem;
	font-weight: bold;
	margin:24px 0;
}
.button{
	background-color: #673f7b;
	border-radius: 4px;
	border-bottom: 1px solid #000;
	color: white;
	font-size: 1.2rem;
	font-weight: 600;
	padding: 16px 0;
	text-align: center;
	transition: all 0.1s ease-in;
}

/*2nd Container..........................................*/
#two .text{
	margin-right: 0;
}
#two .side-container {
	margin-right: 24px;
}
#two .text h1{
	margin: 32px 0;
}
#two .text p {
	color: #444;
	font-size: 1rem;
	font-weight: normal;
}
#two .column{
	margin: 0;
}

.article-container{
	border-left: 2px solid lightgray;
}
.article{
	display: flex;
	padding: 16px;
	border-bottom: 1px solid rgba(211, 211, 211, 0.57);
}
.article:first-child{
	padding-top: 0;
}
.article:last-child{
	border-bottom: 0;
}

.article img{
	width: 35%;
	height: 35%;
}
.article a,p{
	font-size: 0.9rem;
}

.description {
	margin-left: 16px;
}

/*Start Learning..........................................*/ 
#Courses h1{
	text-align: center;
	font-weight: 900;
	font-size: 2rem;
}
#Courses .container{
	flex-direction: column;
}
#Courses .description{
	margin-bottom: 24px;
}

.course-container{
	flex-wrap: wrap;
	justify-content: center;
	padding: 0 7%;
	margin-bottom: 32px;
}
.course-item{
	background-color: white;
	color: #888;
	margin: 10px;
    width: 30%;
}
.course-item img{
	width: 100%;
	height: auto;
}
.description h3{
	color: #555;
}
.description span{
	font-weight: bold;
	margin: 8px 0;
}
.description p{
	margin:0;
}

/*Thesis..........................................*/ 

#Thesis.container{
	display: block;
}
#Thesis .column{
	margin: 0 0 0 16px
}

#Thesis h1{
	width: 100%;
	text-align: center;
}
#Thesis .text p{
	font-size: 1rem;
	font-weight: normal;
}
.alt-container{
	display: flex;
	margin-top: 32px;
}
video{
	width: 100%;
}

/*Footer..........................................*/

footer {
	border-top: 1px solid lightgray;
	display: flex;
	padding: 24px;
}
footer a{
	font-size: 0.9rem;
	color: #888;
}
footer ul{
    text-align: right;
    width: 100%;
}

.copyright{
	width: 100%;	
}


/*...................................................
...................MEDIA QUERIES ....................
*/


/*Desktop..........................................*/
@media only screen and (min-width: 501px) {
	.mobile,
	.mobile-img{
		display: none;
	}

	/*PSEUDO CLASES...........*/
	a:hover {
		color:#673f7b;
	}
	.hover{
		transition: all 100ms ease-in;
	}

	.hover:hover{
		background-color: #673f7b;
		color: white;
	}
	.hover:hover h3{
		color:white;
	}
	.hover:hover a{
		color:white;
	}
	.button:hover{
		font-size: 1.2rem;
		padding: 18px 2px;
	}

}

/*mobile...................................................*/
@media only screen and (max-width: 500px) {
	.company,
	.desktop,
	header .desktop,
	#two .side-container {
		display: none;
	}
	.container {
		flex-direction: column;
		flex-wrap: wrap;
		padding: 32px 16px;
		border-bottom: 1px solid lightgray;
	}
	.column{
		margin: 0;
	}
	.gray {
		background-color: #f1f2f3;
	}

	header .container{
		padding: 0;
	}
	header .mobile {
		display: flex;
		justify-content: space-around;
		margin:0;
		width: 100%;
	}
	.mobile ul{
		justify-content: space-around;
		padding: 0;
		width: 100%;
		text-align: center;
		align-items: center;
	}
	nav .mobile li:first-child{
		margin-left: 0;
	}
	header .mobile li {
		margin: 0
	}

	/*1st banner...............................*/
	#First .gray {
		background-color: #ddd; 
	}
	.side-container {
		min-width: 100%;
	}

	/*2nd banner...............................*/
	.article-container {
		border-left: 0;
	}
	.article {
		border-bottom: 1px solid #ccc;
		flex-direction: column;
		margin: 0 0 20px 0;
		padding: 0 0 16px 0;
	}
	.article img{
		width: 100%
	}
	.mobile-img {
		width: 100%;
	}

	/*Start Learning........................*/
	#Courses .mobile {
		display: flex;
		flex-direction: column;
		padding: 0;

	}
	#Courses .mobile li {
		background-color: #ccc;
		border-radius: 3px;
		font-size: 1.4rem;
		font-weight: 400;
		margin: 4px 0;
		padding: 16px;
	}

	/*Pseudo clases.........................*/
	.hover{
		transition: all 100ms ease-out;
	}
	.hover:active{
		background-color: #673f7b !important;
		color: white;
	}
	.hover:active h3{
		color:white;
	}
	.hover:active a{
		color:white;
	}
	.button:active{
		font-size: 1.2rem;
		padding: 18px 2px;
	}

}

